<main>
  <div class="container">
    <div class="row">
        <form class="" action="/charities/{{charity._id}}?_method=PATCH" method="post">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" placeholder="name" value="{{charity.name}}">
          </div>
          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" name="description" placeholder="description" value="{{charity.description}}">
          </div>
          <div class="form-group">
            <label for="totalFundingGoal">Funding Goal</label>
            <input type="number" class="form-control" name="totalFundingGoal" placeholder="Funding Goal" value="{{charity.totalFundingGoal}}">
          </div>

          <button type="submit" class="btn btn-primary">Submit Changes</button>
        </form>
      </div>
    </div>
  </div>
</main>
