<main>
  <div class="container">
    <div class="row">
      <div class="col-md-12 center centered">
        <h1>{{charity.name}}</h1>
        <h3>Funding Goal: {{charity.totalFundingGoal}}</h3>
        <p>{{charity.description}}</p>
      </div>
    </div>
  </div>
</main>
