<form action="/charities/{{charityId}}/comments" method="post">
    <div class="form-group">
        <label for="author">Donor:</label>
        <input type="text" name="author" class="form-control">
    </div>
    <div class="form-group">
      <label for="amount">Amount:</label>
      <input type="number" name="amount" value="form-control">
    </div>
    <div class="form-group">
        <label for="content">Content:</label>
        <input type="text" name="content" class="form-control">
    </div>
    <button class="btn btn-primary" type="submit">Post</button>
</form>
