<form action="/charities/{{charityId}}/comments" method="post">
    <div class="form-group">
        <label for="author">Author:</label>
        <input type="text" name="author" class="form-control">
    </div>
    <div class="form-group">
        <label for="content">Content:</label>
        <input type="text" name="content" class="form-control">
    </div>
    <button class="btn btn-primary" type="submit">Post</button>
</form>